{% extends 'myapp1/base.html' %}
{% block body_block %}

    <h2> Item: {{ item.name }}  </h2>

    <ul>
        <li><p>People Interested: {{ item.interested }}</p></li>
        <li><p>Price: {{ item.price }}</p></li>
        <li><p>Available Items: {{ item.stock }}</p></li>
    </ul>
    {% if msg %}
        {{ msg }}
    {% else %}
        <h2>Add your Interest</h2>
        <form action="{% url "myapp1:itemdetail" item.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Interest">
        </form>
    {% endif %}

{% endblock %}